<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <div>Anime-Ditector By - <a href="https://github.com/crysre/Anime-Ditector">@Crysre</a></div>
  <div class="container">
    <form id="myForm" method="post" enctype="multipart/form-data" action="/postUrlFile">
      <!-- <input class="searchUrl" type="url" pattern="https?://.+"  name="imageURL" placeholder="Image URL" value=""> -->
      
      <div class="searchBarFile">
        <input type="file" required name="image" accept="image/*">
      </div>
      <input class="submit" type="submit" value="Submit">
    </form>
    <% if(locals.data){ %>
      <% for(let i = 0; i < 5; i++){ %>
    <div class="content">
      <div class="headerDiv" >Name: <%= data["result"][i]["filename"] %></div>
      <div class="contentDiv" >
        <div class="cD1">
          <ul>
            <li>Episode: <%= data["result"][i]["episode"] %></li>
            <li>Time Stamp: 00.<%= Math.floor((data["result"][i]["from"])/60) %>.<%= Math.floor(((data["result"][i]["from"])/60)%60) %> - 00.<%= Math.floor((data["result"][i]["to"])/60) %>.<%- Math.floor(((data["result"][i]["to"])%60)) %></li>
            <li>Similarity: ~ <%= Math.round(data["result"][i]["similarity"]*100) %>%</li>
          </ul>
        </div>
        <div class="cD2"> <video
          width="300"
          height="200"
          autoplay
          loop
          muted
          playsinline
          src= <%= data["result"][i]["video"] %>
          style="object-fit: cover; border: none;">
        </video>
        </div>
      </div>
    </div>
    <% } %>
    <% } %>

  </div>

  <div>

  </div>
</body>
</html>
